@model TellMeWYS.Models.ViewModel.AddMemberViewModel
@{
    ViewBag.Title = "Add Channel Member";
    ViewBag.BodyCssClass = "add-channel-member immersive";
    var id = this.ViewContext.RouteData.Values["id"];
}

<h2>@ViewBag.Title</h2>

<div class="well">
    <form method="post" class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label for="Name" class="control-label col-lg-2">
                    Account Name
                </label>
                <div class="col-lg-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", autofocus = "" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>

            <div class="form-group">
                <label for="type" class="control-label col-lg-2">
                    Account Type
                </label>
                <div class="col-lg-10">
                    @Html.DropDownListFor(m => m.Provider, Model.ProviderList, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2">
                    Owner
                </label>
                <div class="col-lg-10">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.IsOwner)
                            Yes
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <input type="submit" value="OK" class="btn btn-primary" />
                    @Html.ActionLink("Cancel", "Settings", new { id }, new { @class = "btn btn-default" })
                </div>
            </div>
        </fieldset>
    </form>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}