@model TellMeWYS.Models.Channel
@{
    ViewBag.Title = Localize.EditChannelName;
    ViewBag.BodyCssClass = "edit-channel-name immersive";
    var id = this.ViewContext.RouteData.Values["id"];
}

<h2>@ViewBag.Title</h2>

<div class="well">
    <form method="post" class="form-horizontal">
        <fieldset>
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="Name" class="control-label col-lg-2">
                    @Localize.ChannelName
                </label>
                <div class="col-lg-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", autofocus = "" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <input type="submit" value="OK" class="btn btn-primary" />
                    @Html.ActionLink(Localize.Cancel, "Settings", new { id }, new { @class = "btn btn-default" })
                </div>
            </div>
        </fieldset>
    </form>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}