@model Channel
@{
    ViewBag.Title = Model.Name;
}

<a href="@Url.Action("List")" class="modern-btn nav-back" title="Back to lis."></a>

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

<div id="log-holder" class="no-msgs">
    <div class="waiting-msg">
        @Localize.ListeningMessages
    </div>
    <script id="log-template" type="text/x-handlebars">
        <div>
            <div class="link">
                {{#if isSafe}}
                <a target="_blank" href="{{url}}">{{url}}</a>
                {{else}}
                    {{url}}
                {{/if}}
            </div>
            <div class="time">{{time}}</div>
        </div>
    </script>
</div>

<hr />
<a href="@Url.Action("TestDrive")" target="_blank" class="btn btn-default btn-sm">
    @Localize.OpenTestDrivePage
</a>



@section scripts {
    <script>
        $.app = $.app || {};
        $.app.channelId = '@Model.Id.ToString("N")';
    </script>
    @Scripts.Render("~/bundles/handlebars")
    @Scripts.Render("~/bundles/signalr")
    <script src="~/Views/Channel/Index.js"></script>
}