@model Channel
@{
    ViewBag.Title = Model.Name + " - " + Localize.Settings;
    ViewBag.BodyCssClass = "channel-settings";
    var me = this.ViewContext.HttpContext.Account();
    var channelId = Model.Id.ToString("N");
}

<a href="@Url.Action("List")" class="modern-btn nav-back" title="@Localize.BackToList"></a>

<div class="page-header">
    <h2>@Localize.Settings</h2>
</div>

<h3>@Localize.ChannelName</h3>
<div class="channel-name">
    @Model.Name
    <a href="@Url.Action("EditChannelName", new { id = channelId })" title="@Localize.EditChannelName" class="btn btn-default btn-sm ">
        <span class="glyphicon glyphicon-pencil"></span>
    </a>
</div>

<h3>@Localize.Members</h3>
<div>
    <table id="members-holder" class="table table-striped">
        <thead>
            <tr>
                <th>@Localize.AccountName</th>
                <th>@Localize.AccountType</th>
                <th>@Localize.Owner</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in Model.ChannelMembers.OrderBy(_ => _.CreateAt))
            {
                <tr data-member-id='@member.Id.ToString("N")'>
                    <td>@member.Account.AccountName</td>
                    <td>@member.Account.ProviderName</td>
                    <td>@(member.IsOwner ? "Yes" : "")</td>
                    <td>
                        @if (member.AccountId != me.Id)
                        {
                            <a href="@Url.Action("RemoveMember", new { id = channelId })" class="btn btn-default btn-xs remove" title="@Localize.RemoveMember">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a href="@Url.Action("AddMember", new { id = channelId })" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-plus-sign"></span>
        @Localize.AddMember
    </a>
</div>


<h3>@Localize.JavaScriptLibrary</h3>
<div>
    @{
        var urlOfJS = "//" + this.Request.Url.Host + Url.Action("JS", null, new { clientPort = Model.ClientPort.ToString("N") });
    }
    <h5>URL</h5>
    <div>
        <a href="@urlOfJS" target="_blank">@urlOfJS</a>
    </div>

    <h5>@Localize.Example</h5>
    <div>
        <p>@Localize.JS_Example_IncludeJavaScriptLikeThis</p>
        <code>
            &lt;script src="@urlOfJS"&gt;&lt;/script&gt;
        </code>
        <p>@Localize.JS_Example_Call</p>
        <code>
            window.tellMeWYS.sendUrl();
        </code>
    </div>
</div>

<h4>@Localize.ClientPort</h4>
<div>
    @Model.ClientPort.ToString("N")
</div>

<div>
    <h3>@Localize.OtherActions</h3>
    <div>
        <a id="btn-delete-channel" href="@Url.Action("Delete", new { id = channelId })" class="btn btn-danger btn-sm">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            @Localize.DeleteThisChannel
        </a>
    </div>
</div>

@section scripts {
    <script>
    $.app = $.app || {};
    $.app.channelListUrl = '@Url.Action("List")';
        $.Localize.ChannelDeleted = '@Localize.ChannelDeleted';
    </script>
    <script src="~/Views/Channel/Settings.js"></script>
}