@model Channel
@{
    ViewBag.Title = Model.Name + " - Settings";
    var me = this.ViewContext.HttpContext.Account();
    var channelId = Model.Id.ToString("N");
}

<div>
    @Html.ActionLink("Back to board", "Index", new { id = channelId })
</div>

<h2>Settings</h2>

<h3>Channel Name</h3>
<div>@Model.Name</div>
@Html.ActionLink("Edit", "EditChannelName", new { id = channelId })

<h4>Client Port</h4>

<div>
    @Model.ClientPort.ToString("N")
</div>

<h4>Members</h4>

<div>
    <table id="members-holder">
        <thead>
            <tr>
                <th>Account Name</th>
                <th>Account Type</th>
                <th>Owner</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in Model.ChannelMembers)
            {
                <tr data-member-id='@member.Id.ToString("N")'>
                    <td>@member.Account.AccountName</td>
                    <td>@member.Account.ProviderName</td>
                    <td>@(member.IsOwner ? "Yes" : "")</td>
                    <td>
                        @if (member.AccountId != me.Id)
                        {
                            @Html.ActionLink("Remove", "RemoveMember", new { id = channelId }, new { @class = "remove" })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @Html.ActionLink("Add member", "AddMember", new { id = Model.Id.ToString("N") })
</div>

<div>
    <h3>Other Actions</h3>
    <div>
        @Html.ActionLink("Delete this channel", "Delete", new { id = channelId }, new { id = "btn-delete-channel" })
    </div>
</div>

@section scripts {
    <script>
        $.app = $.app || {};
        $.app.channelListUrl = '@Url.Action("List")';
    </script>
    <script src="~/Views/Channel/Settings.js"></script>
}