@model Channel
@{
    ViewBag.Title = Model.Name + " - Settings";
    ViewBag.BodyCssClass = "channel-settings";
    var me = this.ViewContext.HttpContext.Account();
    var channelId = Model.Id.ToString("N");
}

<a href="@Url.Action("List")" class="modern-btn nav-back" title="Back to lis."></a>

<div class="page-header">
    <h2>Settings</h2>
</div>

<h3>Channel Name</h3>
<div class="channel-name">
    @Model.Name
    <a href="@Url.Action("EditChannelName", new { id = channelId })" title="Edit channel name." class="btn btn-default btn-sm ">
        <span class="glyphicon glyphicon-pencil"></span>
    </a>
</div>

<h3>Members</h3>
<div>
    <table id="members-holder">
        <thead>
            <tr>
                <th>Account Name</th>
                <th>Account Type</th>
                <th>Owner</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in Model.ChannelMembers.OrderBy(_ => _.CreateAt))
            {
                <tr data-member-id='@member.Id.ToString("N")'>
                    <td>@member.Account.AccountName</td>
                    <td>@member.Account.ProviderName</td>
                    <td>@(member.IsOwner ? "Yes" : "")</td>
                    <td>
                        @if (member.AccountId != me.Id)
                        {
                            <a href="@Url.Action("RemoveMember", new { id = channelId })" class="btn btn-default btn-xs remove" title="Remove member">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a href="@Url.Action("AddMember", new { id = channelId })" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-plus-sign"></span>
        Add member
    </a>
</div>


<h3>JavaScript library</h3>
<div>
    @{
        var urlOfJS = "//" + this.Request.Url.Host + Url.Action("JS", null, new { clientPort = Model.ClientPort.ToString("N") });
    }
    <h5>URL</h5>
    <div>
        <a href="@urlOfJS" target="_blank">@urlOfJS</a>
    </div>

    <h5>Example</h5>
    <div>
        <p>Include JavaScript into your web site like this:</p>
        <code>
            &lt;script src="@urlOfJS"&gt;&lt;/script&gt;
        </code>
        <p>Then, you can call follow JavaScript code.</p>
        <code>
            window.tellMeWYS.sendUrl();
        </code>
    </div>
</div>

<h4>Client Port</h4>
<div>
    @Model.ClientPort.ToString("N")
</div>

<div>
    <h3>Other Actions</h3>
    <div>
        <a id="btn-delete-channel" href="@Url.Action("Delete", new { id = channelId })" class="btn btn-danger btn-sm">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            Delete this channel
        </a>
    </div>
</div>

@section scripts {
    <script>
        $.app = $.app || {};
        $.app.channelListUrl = '@Url.Action("List")';
    </script>
    <script src="~/Views/Channel/Settings.js"></script>
}