@model Channel
@using System.Text.RegularExpressions
@{
    Layout = null;
    var urlPart = Regex.Replace(this.Request.Url.GetLeftPart(UriPartial.Authority), "^https?:", "");
    var urlOfJS = urlPart + Url.Action("JS", null, new { clientPort = Model.ClientPort.ToString() });
    var title = Localize.TestDrivePage;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@title</title>
    <link href="~/Views/Channel/TestDrive.favicon.png" rel="icon" type="image/png" />
    @Styles.Render("~/Content/css")
    <style>
        .btn-black {
            color: white;
            background-color: #444;
            text-transform: none;
        }

            .btn-black:hover {
                color:white;
                background-color: #000;
            }

        .page-identity {
            color: #fff;
            display: inline-block;
            width: 1.5em;
            text-align: center;
            height: 1.5em;
            line-height: 1.5em;
        }

        .page-A .page-identity {
            background-color: darkorange;
        }

        .page-A .msg {
            color: darkorange;
        }

        .page-B .page-identity {
            background-color: #40c707;
        }

        .page-B .msg {
            color: #40c707;
        }

        .link:hover {
            color: #aaa;
            background-color: #eee;
        }

        .page-A-now .page-B .msg,
        .page-A-now .page-A .link,
        .page-B-now .page-A .msg,
        .page-B-now .page-B .link {
            display: none;
        }
    </style>
</head>
<body class="page-A-now">
    <div class="container">
        <section class="content-wrapper main-content clear-fix">
            <div class="page-header">
                <h1>@title - @Model.Name</h1>
            </div>

            <h2 class="page-A">
                <span class="msg">
                    @Html.Raw(string.Format(Localize.ThisIsSamplePage, "<span class='page-identity'>A</span>"))
                </span>
                <a href="#pageA" class="link btn btn-default">
                    @Html.Raw(string.Format(Localize.JumpToSamplePage, "<span class='page-identity'>A</span>")) &raquo;
                </a>
            </h2>
            <h2 class="page-B">
                <span class="msg">
                    @Html.Raw(string.Format(Localize.ThisIsSamplePage, "<span class='page-identity'>B</span>"))
                </span>
                <a href="#pageB" class="link btn btn-default">
                    @Html.Raw(string.Format(Localize.JumpToSamplePage, "<span class='page-identity'>B</span>")) &raquo;
                </a>
            </h2>

            <hr />

            <div>
                <a id="btn-send-url" href="#" class="btn btn-black btn-lg btn-block">
                    &lt;a id=&quot;btn-send-url&quot; href=&quot;#&quot;&gt;
                    @Localize.SendURL
                    &lt;/a&gt;
                </a>
            </div>

            <hr />

            <pre><span>&lt;script src="@urlOfJS"&gt;&lt;/script&gt;<br />&lt;script&gt;<span id="code"></span>&lt;/script&gt;</span>
            </pre>

        </section>
    </div>
    @Scripts.Render("~/bundles/js")
    <script src="@urlOfJS"></script>
    <script id="send-url-script">
        $(function () {
            $('#btn-send-url').click(function (e) {
                e.preventDefault();
                tellMeWYS.sendUrl();
            });
        })
    </script>
    <script>
        $(function () {
            $('#code').text($('#send-url-script').html());

            var $body = $('body');
            var updateUIState = function () {
                $body.removeClass('page-A-now').removeClass('page-B-now');
                switch (location.hash) {
                    case '#pageA':
                        $body.addClass('page-A-now');
                        break;
                    case '#pageB':
                        $body.addClass('page-B-now');
                        break;
                    default:
                        $body.addClass('page-A-now');
                        break;
                }
            };
            updateUIState();

            $(window).on('hashchange', updateUIState);
        });
    </script>
</body>
</html>
