@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <div class="container">
        <div class="title">
            <h1>@Localize.SiteName</h1>
            <p>Tell me "<b>W</b>hat <b>Y</b>ou <b>S</b>eeing?"</p>
        </div>        <p class="sign-in">
            <a href="@Url.Action("List", "Channel")" class="btn btn-primary btn-lg btn-sign-in">
                @if (this.User.Identity.IsAuthenticated)
                {
                    <text>@Localize.Home_GotoChannelList</text>
                }
                else
                {
                    <text>@Localize.Home_SignIn_SignUp</text>
                }
            </a>
        </p>

        @Html.Markdown(Localize.Home_Description)
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            @Html.Markdown(Localize.Home_Preparation)
        </div>
        <div class="col-md-4">
            @Html.Markdown(Localize.Home_Usage)
        </div>
        <div class="col-md-4">
            @Html.Markdown(Localize.Home_HowToTry)
        </div>
    </div>
</div>