<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - @Localize.SiteName</title>
    <link href="~/favicon.png" rel="icon" type="image/png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @RenderSection("head", required: false)
</head>
<body class="@ViewBag.BodyCssClass">
    <div class="navbar navbar-inverse navbar-fixed-top" role="">
        <div class="container">
            @Html.Partial("_LoginPartial")
            <div class="navbar-header">
                <a class="navbar-brand" href="~/">@Localize.SiteName</a>
            </div>
        </div>
    </div>

    <div id="body" class="container" style="margin-top:48px">

        <section class="content-wrapper main-content clear-fix">

            <div id="msg-bar" class="alert alert-dismissable alert-success" style="display:none">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span class="content-wrapper">You have...</span>
            </div>

            @RenderBody()
        </section>

        <footer>
            <p class="powered-by">
                Powered by
                <a href="http://www.asp.net/mvc" target="_blank" class="with-logo aspnet-mvc">
                    ASP.NET MVC
                </a>
                / <a href="https://github.com/SignalR/SignalR/blob/master/README.md" target="_blank">
                    SignalR
                </a>
                / <a href="http://www.windowsazure.com/en-us/develop/net/aspnet/?WT.mc_id=ACFB637C3" target="_blank" class="with-logo azure-websites">
                    Windows Azure Web sites
                </a>
                / <a href="http://html2canvas.hertzen.com/" target="_blank">
                    html2canvas
                </a>
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/js")
    <script src="~/Scripts/html2canvas.js"></script>
    <script>
        $.app = $.app || {};
        $.Localize = {
            'Sure': '@Localize.Sure'
        };
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
