<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - @Localize.SiteName</title>
    <link href="~/favicon.png" rel="icon" type="image/png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
</head>
<body class="@ViewBag.BodyCssClass">
    <div class="navbar navbar-inverse navbar-fixed-top" role="">
        <div class="container">
            @Html.Partial("_LoginPartial")
            <div class="navbar-header">
                <a class="navbar-brand" href="~/">@Localize.SiteName</a>
            </div>
        </div>
    </div>

    <div id="body" class="container" style="margin-top:48px">

        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>

        <hr />

        <footer>
            <p class="powered-by">Powered by ASP.NET MVC / SignalR / Windows Azure Web sites</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/js")
    <script>
        $.app = $.app || {};
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
